body {
font-family:Oxanium;
background-color:#7812E3 ;
color:#E35312 ;

}

h1, h2, h3, h4, h5, h6 {
font-family: "Audiowide";
text-align: center;
font-size: 30pt;
}

h2{
    margin: .1em;
}

header{
text-align: center;
}

#hero, footer{
    border: 5px solid #E3E312;
    background-color:#12E3CB ;
    text-align: center;
}

/* Hero Section */

#hero img{
    width: 250px;
}

/* Bio Section */

#bio{

text-align: center;

}

/* Hobbies Section */

section#hobbies{
display: flex;
flex-direction: column;
align-items: center;
} 

#hobbies ul li:nth-child(3){
    width: 137px;
    border: 1px solid yellow;
    padding: 1px;
color:black
 
}

/* Gallery Section*/

#gallery{

border: 2px solid #E3E312;
margin-bottom: 2rem;

}

#galler img{
max-width: 100%;
}

#gallery figure{
text-align: center;
}

/* Literature */

#lit{
border: 2px solid #E3E312;
margin-bottom: 2rem;
}

#lit div{
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p{
    padding: .3rem 0;
    clear:both;
}

/* Dropcaps */
#lit div p:first-letter{
    color:#12E3CB;
    float:left;
    font-size: 2.5rem;
    padding-top: .4rem;
    margin-right: .25rem;
    line-height: .65;
    border: 2px solid #E3E312;
    box-shadow: 2px 2px 2px black;
}


@media screen and (min-width: 60em){
figure{
    display: grid;
    grid-template-columns: 2fr 1fr;
}


figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-right: 8rem;
}

}